@using MegaSchool1.Model
@using OneOf
@using OneOf.Types
@using MegaSchool1.ViewModel
@inherits Components.ComponentBase
@inject Mappers Mappers

<div style="display:@(!this.Filter.Any() || this.Filter.All(f => this.Highlights.Contains(f)) ? "block" : "none");">
    <MudCard>
        <MudStack>
            <EmbeddedVideo Video="Video" />
            <MudStack Row="true">
                <MudSpacer/>
                <ShareableContent Tooltip="Testimonial Copied!"
                                  ImageUrl="@Constants.GetImageUrl(Image.MoneyChallengeLogo)"
                                  TextToCopy="@($"{Description}{Environment.NewLine}{Constants.PointingDownEmoji}{Environment.NewLine}{Video.Match(video => video.MinimalistUrl(), none => string.Empty)}")"/>
                <MudSpacer/>
            </MudStack>
        </MudStack>
    </MudCard>
</div>

@code {
    [Parameter]
    public OneOf<Video, None> Video { get; set; } = new None();

    [Parameter]
    public string Description { get; set; } = "Testimonial";

    [Parameter]
    public Highlight[] Highlights { get; set; } = [];

    [Parameter]
    public Highlight[] Filter { get; set; } = [];
}
