@inherits Components.ComponentBase
@using Components

<div style="display:@(!this.Filter.Any() || this.Filter.All(f => this.Highlights.Contains(f)) ? "block" : "none");">
    <MudCard>
        <MudStack>
            <Video Url="@Url"/>
            <MudStack Row="true">
                <MudSpacer />
                <ShareableContent Description="@Description"
                                  Tooltip="Testimonial Copied!"
                                  ImageUrl="@Constants.GetImageUrl(Image.MoneyChallengeLogo)"
                                  TextToCopy="@($"{Description}{Environment.NewLine}{Constants.PointingDownEmoji}{Environment.NewLine}{Url}")" />
                <MudSpacer />
            </MudStack>
        </MudStack>
    </MudCard>
</div>

@code {
    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public Highlight[] Highlights { get; set; }

    [Parameter]
    public Highlight[] Filter { get; set; }
}
