@using MWRCheatSheet.Model
@inherits Components.ComponentBase

<div style="display:@_display;">
    @if (ValidYouTube)
    {
        <iframe @onload="OnVideoLoaded"
                src="@($"{Constants.YouTubeEmbedLinkPrefix}{YouTube}")"
                width="560"
                height="315"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    }

    @if(ValidTikTok)
    {
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@@@(this.TikTok.Value.UserHandle)/video/@TikTok" data-video-id="@TikTok.Value.VideoId" style="max-width: 605px;min-width: 325px;">
            <section />
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
    }

    @if (ValidVimeo)
    {
        <iframe src="@($"https://player.vimeo.com/video/{Vimeo?.VideoId}{(string.IsNullOrWhiteSpace(Vimeo?.Hash) ? string.Empty : $"?h={Vimeo?.Hash}")}")" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" data-ready="true"></iframe>
    }
    
    @if (ValidFacebook)
    {
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F@(Facebook?.ChannelId)%2Fvideos%2F@(Facebook?.VideoId)%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    }
</div>

@if (!_iframeLoaded)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="auto" Height="100px;" />
}
@code {
    private bool _iframeLoaded;
    private string _display = "none";

    [Parameter]
    public string? YouTube { get; set; }

    [Parameter]
    public (string UserHandle, string VideoId)? TikTok { get; set; }

    /// <summary>
    ///     Hash - Required for private Vimeo videos. See https://www.drupal.org/project/video_embed_field/issues/3238136
    /// </summary>
    [Parameter]
    public (string VideoId, string? Hash)? Vimeo { get; set; }

    [Parameter]
    public (string ChannelId, string VideoId)? Facebook { get; set; }

    private bool ValidYouTube => !string.IsNullOrWhiteSpace(YouTube);
    private bool ValidVimeo => !string.IsNullOrWhiteSpace(Vimeo?.VideoId);
    private bool ValidTikTok => !string.IsNullOrWhiteSpace(TikTok?.UserHandle) && !string.IsNullOrWhiteSpace(TikTok?.VideoId);
    private bool ValidFacebook => !string.IsNullOrWhiteSpace(Facebook?.ChannelId) && !string.IsNullOrWhiteSpace(Facebook?.VideoId);

    protected override void OnInitialized()
    {
        if(ValidTikTok)
        {
            this.ShowVideo();
        }

        if (ValidVimeo)
        {
            this.ShowVideo();
        }

        if (ValidFacebook)
        {
            this.ShowVideo();
        }
    }

    private void OnVideoLoaded(ProgressEventArgs e)
    {
        this.ShowVideo();
    }

    private void ShowVideo()
    {
        _iframeLoaded = true;
        _display = "block";
    }
}
